<template>
  <div class="<%= data.middleLineName + '-wrapper'%>">
    <h2>{{ message }}</h2>
  </div>
</template>

<script>
  import storeData from "./store.js";
  const MUDULE_NAME = "<%= data.storeName %>";
  export default {
    name: "<%= data.name %>",
    components: {

    },
    mixins: [],
    props: {

    },
    data: function() {
      return {
        message: "Hello <%= data.name %>"
      }
    },
    beforeCreate() {
      //注册模块
      if (!this.$store.hasModule(MUDULE_NAME)) {
        this.$store.registerModule(MUDULE_NAME, storeData);
      }
    },
    created: function() {

    },
    mounted: function() {

    },
    computed: {

    },
    methods: {

    }
  }
</script>

<style scoped>
  .<%= data.middleLineName + '-wrapper'%> {
    
  }
</style>
